<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="card">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="table">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="list">Lists</a>
        </li>
        
      </ul>
      
        <div class="dropdown ">

          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
             Mohammed
          </button>

          <ul class="dropdown-menu ">
            <li><a class="dropdown-item me-4" href="/logout">Logout</a></li>
          </ul>
        </div>
        
    </div>
  </div>
</nav>
<div class="img">
   <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-model-unselect-gallery-1-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660689596976" style="width:100vw;">
 </div>





{{!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-lig">

  <a class="navbar-brand" href="#"></a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/table">Tables</a>
      </li>
      <li class="nav-item active">
        
        <a class="nav-link" href="/card">Cards</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/list">Lists</a>
      </li>
    
    </ul>
    <form action="/logout" class="form-inline" method="post">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 float-left" type="submit">Sign Out</button>
    </form>
  </div>
</nav>
<div class="d-flex" >
  <img style="width: 100%;" height="90%" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-model-unselect-gallery-1-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660689596976">   
    </div> --}}

















    {{!-- <div>
       <img style="position:absolute; margin-left:-4.4em;top:4em;" width="100%" height="90%" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-14-model-unselect-gallery-1-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660689596976">   
    </div>


    <nav class="navbar navbar-light bg-light justify-content-between" style="position:relative;top:-2em">
    <a class="navbar-brand"></a>

    <form action="/logout" class="form-inline" method="post">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
    </form>

    </nav>


    

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="position:relative;top:0em">

            <div class="btn-group mr-2" role="group" aria-label="First group">     
                 <form action="/card" method="GET" class="float-left" style="margin:20px">
                <button type="submit" class="btn btn-primary">Cards</button>
                 </form> 
            </div>

            <div class="btn-group mr-2" role="group" aria-label="First group">     
                <form action="/list" method="post" class="float-left" style="float:left;margin:20px ">
                    <button type="submit" class="btn btn-primary">Lists</button>
                </form>   
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <form action="/table" method="post" class="float-left" style="float:left;margin:20px ">
                    <button type="submit" class="btn btn-primary">Table</button>
                </form> 
            </div>

    </div> --}}
    

    


    
    
